<h3>Listes des Membres</h3>
<mat-accordion class="membres">
    <a *ngFor="let membre of membres; index as i">
        <mat-expansion-panel *ngIf="membre._id != auth.id">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h6>{{membre.prenom | titlecase}} {{membre.nom | uppercase}}</h6>
                </mat-panel-title>
                <mat-panel-description>
                    <span>Ratio : {{membre.ratio}}</span>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent>
                <div>
                    Email : {{membre.email}}
                </div>
                <button class="btn btn-primary" (click)="notifierMembre(i)">Prévenir le membre</button>
            </ng-template>

        </mat-expansion-panel>
    </a>

</mat-accordion>
