
<h5>Mes Biens</h5>
<h6 *ngIf="biens.length == 0">Aucun biens présents</h6>
<mat-accordion class="biens">
    <a *ngFor="let bien of biens; index as i">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h6>{{bien.nom | titlecase}}</h6>
                </mat-panel-title>
                <mat-panel-description>
                    <span>Descriptif: {{bien.descriptif}}</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div><span>Id: </span>{{bien._id}}</div>
            <ng-template matExpansionPanelContent>
                <div>
                    <h6>Créneaux Disponibles :</h6>
                    <a *ngFor="let creneau of bien.dates">
                        <div>
                            <div class="date"><span>{{creneau.date|date:"dd:LLL:yyyy"}}</span></div>
                            <span>{{creneau.matin ? ("Matin") : ""}} {{creneau.aprem ? ("Après-midi") : ""}}</span>
                        </div>
                    </a>
                </div>

                <div>
                    <h6>Créneaux Occupés :</h6>
                    <a *ngFor="let loue of bien.dates_loue">
                        <div>
                            <div class="date"><span>{{loue.date|date:"dd:LLL:yyyy"}}</span></div>
                            <span>{{loue.matin ? ("Matin") : ""}} {{loue.aprem ? ("Après-midi") : ""}}</span>
                        </div>
                    </a>
                </div>
                <div>
                    <button class="btn btn-primary" (click)="supprimerBien(bien._id)">Supprimer le bien</button>
                </div>
            </ng-template>

        </mat-expansion-panel>
    </a>

</mat-accordion>
